version: "3.8"

services:
  api-mini:
    build: .
    container_name: tipsmega-bot
    restart: always
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - NODE_ENV=production
      # Telegram Config
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TG_GROUP_USER_JOIN=${TG_GROUP_USER_JOIN}
      - TG_GROUP_ADMIN_REPORT=${TG_GROUP_ADMIN_REPORT}
      - ADMIN_GROUP_ID=${ADMIN_GROUP_ID}
      # Security
      - AUTH_SECRET=${AUTH_SECRET}
      # Database
      - MONGO_URL=${MONGO_URL}
    volumes:
      - ./public/uploads:/app/public/uploads
      - ./.env:/app/.env
